*.dump

ansible/
postgresus_data/
postgresus-data/
databasus-data/
.env
pgdata/
docker-compose.yml
node_modules/
.idea
/articles

.DS_Store
/scripts
.vscode/settings.json

docker-compose.server.yml
docker-compose.yml